/* Default Css here */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Azeret Mono", monospace;
}

/* Repeated Css Here */
.fixed_width {
  width: 80%;
  margin: auto;
}
a{
  text-decoration: none;
  color: #0d1321;
}
.primary_btn {
  font-size: 20px;
  font-weight: 600;
  color: #0d1321;
  padding: 14px 24px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.secondery_btn {
  background-color: #0d1321;
  color: #fff;
  font-weight: 400;
  border: none;
  font-size: 16px;
  letter-spacing: 2px;
}
.default_title{
  font-size: 32px;
  font-weight: 900;
  color: #0d1321;
  text-align: center;
}
.default_description{
  padding: 0px 50px;
  color: #0d1321;
  line-height: 1.5;
  text-align: center;
}

/* Header section css */
header {
}
.main_navbar_section {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.navbar_left h3 {
  font-size: 28px;
  font-weight: 900;
  color: #0d1321;
}
/* Hero Section Css */
.hero_section {
  background-image: url(./assets/Hero-bg.png);
  height: 70vh;
  margin-top: 30px;
}
.hero_section_contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  gap: 20px;
}

.hero_section_title {
  font-size: 48px;
  font-weight: 900;
  color: #0d1321;
  text-align: center;
}
.hero_section_description {
  text-align: center;
  width: 80%;
  margin: auto;
  line-height: 1.5;
}

/* Development Section */

.development_section_contents {
  display: flex;
  flex-direction: column;
  background-color: rgba(230, 236, 248, 0.3);
  gap: 48px;
  margin: 80px auto;
}
.development_question_section {
  display: flex;
  flex-direction: column;
  padding: 80px 100px 0px 100px;
  gap: 25px;
}

.development_answer_section {
  padding: 0px 100px 100px 100px;
  display: flex;
  flex-direction: column;
}

.development_answer_contents {
  padding: 48px 60px;
  display: flex;
}
.development_answer_contents:nth-child(odd) {
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.development_answer_content {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.development_answer_title {
  font-size: 32px;
  font-weight: bold;
  color: #0d1321;
  opacity: 70%;
  width: 50%;
}
.title-1-3 {
  width: 80%;
}
.development_answer_description {
  width: 70%;
  color: #0d1321;
  line-height: 1.3;
}
.development_btn {
  align-self: flex-start;
  margin-top: 16px;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 20px;
  color: #0d1321;
  opacity: 70%;
  letter-spacing: 2px;
}

.development_answer_img {
  width: 30%;
  align-self: flex-start;
}


/* Inspiration Section */
.inspiration_section{
display: flex;
flex-direction: column;
gap: 40px;
}

.inspiration_description{
  width: 80%;
  margin: auto;
  margin-top: 10px;
}
.inspiration_video_section{
  padding: 2%;
  border: 1px solid #0d1321 ;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.inspiration_video{
  width:100%;
  height:600px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}