/* Default Css here */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Azeret Mono", monospace;
}

/* Repeated Css Here */
.fixed_width{
    max-width: 90%;
    margin: auto;
}
.primary_btn{
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    padding: 14px 24px;
    background-color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.secondery_btn{
    background-color: #0D1321;
    color: #fff;
    font-weight: 400;
    border: none;
    font-size: 16px;
    letter-spacing: 2px;
}

/* Header section css */
header{

}
.main_navbar_section{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.navbar_left h3{
    font-size: 28px;
    font-weight: 900;
    color: #0D1321;
}
/* Hero Section Css */
.hero_section{
    background-image: url(./assets/Hero-bg.png);
    height: 70vh;
    margin-top: 30px;
}
.hero_section_contents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    gap: 20px;
}

.hero_section_title{
    font-size: 48px;
    font-weight: 900;
    color: #0D1321;
    text-align: center;
}
.hero_section_description{
    text-align: center;
    width: 80%;
    margin: auto;
    line-height: 1.5;
}

/* Development Section */

.development_section_contents{
    display: flex;
    flex-direction: column;
    background-color: rgba(230, 236, 248,0.3);
    gap: 48px;
    
   
}
.development_question_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 100px 0px 100px;
}
.development_question_title{
font-size: 32px;
font-weight: 900;
color: #0D1321;
}

.development_answer_section{
    padding: 0px 100px;
}